<app-navbar></app-navbar>

<section>
    <div class="cover-img display justify-content-between">
        <div class="left">
            <h1>Your Path to Career Success Starts Here</h1>
            <h2>Explore new opportunities with a caring job board designed for you</h2>
            <div style="margin-top: 0.8vw;">
                <div class="d-flex justify-content-between w-100">
                    <p>Less time with resumes</p>
                    <p>more time connecting people</p>
                </div>
                <app-search-bar style="padding: 0;"></app-search-bar>
                <!-- <div class="search-bold-text d-flex">
                    <p>Popular Searches:</p>
                    <span>Designer, Developer, Tester, Writing</span>
                </div> -->
            </div>
        </div>
        <div class="right"> </div>
    </div>
</section>

<section class="sec-2">
    <div class="popular-jobs">
      <h1 class="textCenter">Popular Jobs</h1>

      <div class="tabs-container">
        <div class="tabs">
          <div class="tab" *ngFor="let tab of tabs; let i = index" [ngClass]="{ 'active': selectedTab === i }"
              (click)="selectTab(i)">
            {{ tab.label }}
          </div>
        </div>
      </div>

      <div class="content-container">
        <ng-container *ngIf="selectedTab !== null">
          <div class="card-container d-flex" *ngIf="filteredJobs.length > 0; else noJobs">
            <div class="card" *ngFor="let job of filteredJobs">
              <!-- Bookmark icon with click event -->
              <i class="fas fa-bookmark bookmark-icon"
              *ngIf="!isEmployer()"
                  [ngClass]="{ 'bookmarked': isBookmarked(job.id) }"
                  (click)="toggleBookmark(job.id)"
                  style="cursor: pointer;">
              </i>

              <div class="d-flex justify-content-between img-content">
                <img [src]="job?.user?.employer_details?.main_logo" alt="Card Image" class="card-image" />
                <div class="head-para">
                  <div class="main-head">{{ job?.user?.employer_details?.company_name }}</div>
                  <div class="para">{{ job?.completeAddress }}</div>
                </div>
              </div>

              <div class="card-heading">{{ job?.title }}</div>
              <div class="card-tag">{{ job?.jobType }}</div>
              <p class="card-skill">{{ job.specialism }}</p>

              <div class="d-flex justify-content-between ss-btn" style="align-items: center;">
                <div class="card-amount"><span>{{ job?.salary }}/</span>monthly</div>

                <button class="card-button" *ngIf="!isEmployer() && isLoggedIn()"
                (click)="open(addModal, 'add', job.id)"
                [disabled]="isJobApplied(job.id)">
            {{ isJobApplied(job.id) ? 'Applied' : 'Apply Now' }}
        </button>
              
              </div>
            </div>

            <div class="see-more">
              <button routerLink="/jobs-grid">See More
                <i class="fa-solid fa-chevron-right"></i>
              </button>
            </div>
          </div>

          <!-- No jobs found message -->
          <ng-template #noJobs>
            <div class="no-jobs-message">No {{ tabs[selectedTab].label }} jobs found.</div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </section>


  <section class="sec-3">
    <div class="radical">
      <h1 class="acc-head textCenter">
        Frequently Asked Questions
      </h1>
      <div class="acc-box">
        <div class="accordion-container">
          <!-- Loop through FAQs and display each question and answer -->
          <div class="accordion-item" *ngFor="let item of faqs; let i = index">
            <div class="accordion-header" (click)="toggleAccordion(i)">
              <h2>{{ item.question }}</h2>
              <div class="acc-icon">
                <img class="icon" [src]="item.open ? 'assets/images/minus-icon.svg' : 'assets/images/plus-icon.svg'"
                     alt="Accordion Toggle" />
              </div>
            </div>
            <div class="accordion-content" [ngStyle]="{ 'display': item.open ? 'block' : 'none' }">
              <p [innerHTML]="item.answer"></p>
            </div>

          </div>
        </div>

        <!-- See More button (functionality can be added as needed) -->
        <div class="see-more">
          <button>
            See More
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>


<section class="sec-4">
    <div class="vector-bg">
        <h1 class="textCenter">Start today</h1>
        <h2 class="textCenter">Explore new opportunities and expand your horizons</h2>
        <div class="auth-btn d-flex justify-content-between">
            <button>Sign Up</button>
            <button class="login">Login</button>
        </div>
    </div>
</section>

<!-- Logo slider -->

<app-logo-slider></app-logo-slider>

<!-- Logo slider -->

<!-- footer -->

<app-custom-footer></app-custom-footer>

<!-- footer -->


<ng-container>
  <ng-template #addModal let-modal>
    <div class="modal-body checkoutModal completed">
      <h5 style="color: black; font-weight: bold;" class="modal-title">Candidate Profile</h5>

      <!-- Candidate Personal Details -->
      <div class="candidate-details my-3">
        <h6 class="text-custom">Personal Information</h6>
        <ul class="list-group">
          <li class="list-group-item"><strong>Name:</strong> {{ user.first_name }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
          <li class="list-group-item"><strong>Phone:</strong> {{ user.phone_number }}</li>
          <li class="list-group-item"><strong>Address:</strong> {{ user.address }}</li>
        </ul>
      </div>

      <!-- Candidate Experience -->
      <div class="candidate-experience my-3">
        <h6 class="text-custom">Experience</h6>
        <ul class="list-group">
          <li *ngFor="let experience of user.candidate_experience" class="list-group-item">
            <strong>{{ experience.position }}</strong> at {{ experience.company_name }} 
            <br><small>{{ experience.start_year }} - {{ experience.end_year }}</small>
            <p>{{ experience.description }}</p>
          </li>
        </ul>
      </div>

      <!-- Candidate Education -->
      <div class="candidate-education my-3">
        <h6 class="text-custom">Education</h6>
        <ul class="list-group">
          <li *ngFor="let education of user.employee_education" class="list-group-item">
            <strong>{{ education.degree_name }}</strong> from {{ education.school }} 
            <br><small>{{ education.start_year }} - {{ education.end_year }}</small>
            <p>{{ education.description }}</p>
          </li>
        </ul>
      </div>

      <!-- Candidate Video -->
      <div class="candidate-video my-3">
        <h6 class="text-custom">Candidate Video</h6>
        <div class="embed-responsive embed-responsive-16by9">
          <video controls style="width: -webkit-fill-available; height: auto; border-radius: 7px;" [src]="video" allowfullscreen></video>
        </div>
      </div>

      <!-- Candidate Resume -->
      <div class="candidate-resume my-3">
        <h6 class="text-custom">Resume</h6>
        <a [href]="resume" class="btn btn-primary" style="width: 28.5rem; background: #f08181;" target="_blank">Download Resume</a>
      </div>

      <!-- More Attachments (Optional) -->
      <form [formGroup]="moreAttachmentForm">
        <div class="candidate-resume my-3">
          <h6 class="text-custom">More Attachment (Optional)</h6>
          <div class="col-lg-12 mt-3">
            <label for="imageInput" class="text-light mb-3">File</label>
            <label class="thumbnail-icon-label" for="imageInput">
              <i class="fas fa-file"></i>
            </label>
            <input
              type="file"
              id="imageInput"
              formControlName="file"
              class="text-dark w-100"
              (change)="onFileSelected($event)"
              style="display: none"
            />
            <div class="file-name-display mt-2">
              <p class="file-name-text" *ngIf="selectedFileName">{{ selectedFileName }}</p>
            </div>
          </div>
        </div>
      </form>

      <!-- Terms and Conditions Checkbox -->
      <div class="candidate-terms my-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="termsCheckbox"
            [(ngModel)]="isAgreed"
            [disabled]="!applyForm.valid"
          />
          <label class="form-check-label" for="termsCheckbox">
            I agree to the <a href="/terms-conditions" target="_blank">Terms and Conditions</a>.
          </label>
        </div>
      </div>

    </div>

    <!-- Modal Footer with Apply Button -->
    <div class="modal-footer d-flex justify-content-start">
      <button
        style="width: 28.5rem; background: #C78B97;"
        class="btn add-btn"
        (click)="applyJob()"
        [disabled]="!isAgreed"
      >
        Apply
      </button>
    </div>
  </ng-template>
</ng-container>

